[Desktop Entry]
Name=BITSnet Login
Comment=Log into the BITSnet with ease!
Keywords=bitsnet;login;cyberroam
Exec=bitsnet
Icon=bitsnet
Terminal=false
Type=Application
Categories=Internet
StartupNotify=false
